<h1 class="">Your Accounts</h1>
<p>All accounts</p>

<div class="row">
  <% @accounts.each do |account|%>
    <div class="col-6">
      <h5 class="mt-3 mr-5 d-inline-block"><%= link_to account.name, account_path(account) %></h5>
      <p class="d-inline-block">
        <%= link_to '🆕Add', new_account_account_update_path(account) %>
      </p>
      <% @account_updates.where(account_id: account.id).order(created_at: :desc).each do |au| %>
        <p>
          💸 $<%= au.balance_usd %> | ¥<%= au.balance_cny %> | €<%= au.balance_euro %> | 🗓 <%= au.created_at.strftime("%A, %b %e %Y") %>
          -- <%= link_to "Delete", account_account_update_path(account.id, au.id), method: :delete, data: {confirm: "Are you sure?"} %>
        </p>
      <% end %>
      <div class="chart">
        <% currency = AccountUpdate.where(account_id: account.id) %>
        <% data = AccountUpdate.where(account_id: account.id).group_by_day(:created_at).sum(:balance) %>
        <%= line_chart data, ytitle: "#{currency.last.currency}", label: "Value" %>
      </div>
    </div>
  <% end  %>
</div>



<h1 class="mt-5">Total</h1>

<p>
  💰 $<%= @total_usd %> | ¥<%= @total_cny %> | €<%= @total_euro %>
</p>

<div class="chart-big">
  <% data = [{name: "USD", data: AccountUpdate.group_by_day(:created_at).sum(:balance_usd)},
                  {name: "CNY", data: AccountUpdate.group_by_day(:created_at).sum(:balance_cny)},
                  {name: "EURO", data: AccountUpdate.group_by_day(:created_at).sum(:balance_euro)}]  %>
  <%= line_chart data, xtitle: "Date", ytitle: "Balance", label: "Value"%>
</div>


<div class="mt-5">
  👉 <%= link_to 'Create a new account', new_account_path %>
</div>
