<h1 class="mt-5">Your Accounts</h1>
<p>All accounts</p>

<% @accounts.each do |account|%>
  <div class="d-block">
    <h5 class="mt-3 mr-5 d-inline-block"><%= link_to account.name, account_path(account) %></h5>
    <p class="d-inline-block">
      <%= link_to '🆕Add', new_account_account_update_path(account) %>
    </p>
    <% @account_updates.where(account_id: account.id).order(created_at: :desc).each do |au| %>
      <p>
        💸 $<%= au.balance_usd %> | ¥<%= au.balance_cny %> | €<%= au.balance_euro %> | 🗓 <%= au.created_at.strftime("%A, %b %e %Y") %>
        -- <%= link_to "Delete", account_account_update_path(account.id, au.id), method: :delete, data: {confirm: "Are you sure?"} %>
      </p>
      <% end %>
      <%= line_chart AccountUpdate.where(account_id: account.id).group_by_day(:created_at).sum(:balance_usd) %>
    <% end  %>
  </div>



<h1 class="mt-5">Total</h1>

<p>
  💰 $<%= @total_usd %> | ¥<%= @total_cny %> | €<%= @total_euro %>
</p>

<div class="mt-5">
  👉 <%= link_to 'Create a new account', new_account_path %>
</div>
